@page "/customers/create"
@using CustomerUI
@using Pinewood.Models
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IConfiguration Configuration

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Customer" OnValidSubmit="AddCustomer" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="firstname" class="form-label">First Name:</label> 
                <InputText id="firstname" @bind-Value="Customer.FirstName" class="form-control" /> 
                <ValidationMessage For="() => Customer.FirstName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lastname" class="form-label">Last Name:</label> 
                <InputText id="lastname" @bind-Value="Customer.LastName" class="form-control" /> 
                <ValidationMessage For="() => Customer.LastName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label> 
                <InputText id="email" @bind-Value="Customer.Email" class="form-control" /> 
                <ValidationMessage For="() => Customer.Email" class="text-danger" /> 
            </div>        
                   
            <div class="mb-3">
                <label for="address" class="form-label">Address:</label> 
                <InputText id="address" @bind-Value="Customer.Address" class="form-control" /> 
                <ValidationMessage For="() => Customer.Address" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="city" class="form-label">City:</label> 
                <InputText id="city" @bind-Value="Customer.City" class="form-control" /> 
                <ValidationMessage For="() => Customer.City" class="text-danger" /> 
            </div>                        
            <div class="mb-3">
                <label for="postalcode" class="form-label">Postal Code:</label> 
                <InputText id="postalcode" @bind-Value="Customer.PostalCode" class="form-control" /> 
                <ValidationMessage For="() => Customer.PostalCode" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="country" class="form-label">Country:</label> 
                <InputText id="country" @bind-Value="Customer.Country" class="form-control" /> 
                <ValidationMessage For="() => Customer.Country" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/customers">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Customer Customer { get; set; } = new();

    public async Task AddCustomer()
    {
        await Http.PostAsJsonAsync($"{Configuration["PinewoodWebAPI"]}api/Customer", Customer);
        NavigationManager.NavigateTo("/customers");
    }
}
